
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
  background:grey;
 }
.comment .comment-arrow {
  border-color: #ffffff;
}

#page,
#main-wrapper,
{
  background:black;
}
#main-menu-links li a
{
	color:#FFBF00;
	background:transparent;
}

#main-menu-links li a:hover
{
	background:transparent;
	font-size:0.929em
	font-style:none !important;
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  color:#FFFFFF;
  background:transparent;
}
.tabs ul.primary li a.active {
  background-color:transparent;
}
.tabs ul.primary li.active a {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
}
#header {

background-image: url("../images/bg.jpg") !important;
height:272px !important;

}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color:yellow;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
 background-image:url("../images/footer-logos.jpg"); !important
 height:90px;
 margin-top:0px;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
#left a
{
	color:#FFBF00;
}
#left h1,
#right h1 {
	color:white;
}
#right h6 {
	color:#FFBF00;
}